---
import LayoutList from "../../layouts/layout-list.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  // Bahasa yang kita dukung
  const langs = ["id", "en"];

  return langs.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;

// Ambil post berdasarkan folder lang
const posts = await getCollection("blog", ({ id }) => {
  return id.startsWith(`${lang}/`);
});
---

<LayoutList data={lang}>
  <h1 class="pb-7 font-semibold text-xl">
    BLOGS<sub>({lang.toUpperCase()})</sub>
  </h1>
  <ul class="boxs">
    {
      posts.map((post) => (
        <li class="box p-3 bg-slate-100 rounded-lg mb-8">
          <a href={"/"+post.slug}>
            <div class="relative">
              {post.data.banner ? (
                   <>
                                <time class="absolute bg-slate-50 rounded p-1 px-2 opacity-80 font-semibold top-2 right-2 text-[.5rem]">
                {post.data.date.toLocaleString(lang, {
                  year: "numeric",
                  month: "numeric",
                  weekday: "long",
                  day: "numeric",
                })}
              </time>
                <img
                  class="w-full aspect-[10/4] shadow-lg mb-2 object-cover rounded-md"
                  src={"/assets/" + post.data.banner}
                  alt=""
                />
                   </>
              ) : (
                  <time class="absolute bg-slate-50 rounded p-1 px-2 opacity-80 font-semibold -top-6 right-2 text-[.5rem]">
                {post.data.date.toLocaleString(lang, {
                  year: "numeric",
                  month: "numeric",
                  weekday: "long",
                  day: "numeric",
                })}
              </time>
              )}
            </div>

            <div>
              <h2 class="font-semibold text-lg ">{post.data.title}</h2>
              <p class="">{post.data.summary}</p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</LayoutList>
